<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="~{fragments/header :: head}"/>
<body>
<div th:insert="~{fragments/header :: navbar}"> </div>
<h1>C A R T</h1>

<div th:if="${#httpServletRequest.remoteUser != Null}">
    <h3 th:text="${'Здравствуйте, '+ #httpServletRequest.remoteUser}"/>
</div>
<h3>Ваш заказ:</h3>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">№</th>
        <th scope="col">Наименование</th>
        <th scope="col">Цвет</th>
        <th scope="col">Количество</th>
        <th scope="col">Цена, грн</th>
        <th scope="col">Стоимость, грн</th>
    </tr>
    </thead>
    <tbody th:unless="${orderItems == Null}">
    <tr th:each="item,step : ${orderItems}">
        <th scope="row">
            <input type="hidden" value="#" th:value="${item.product.id}"/>
            <span th:text="${step.count}"/>
        </th>
        <td th:text="${item.product.name}"></td>
        <td th:text="${item.product.color}"></td>
        <!--<td th:text="${item.quantity}"></td>-->
        <td> <input type="number" name="item.quantity" value="#" th:value="${item.quantity}"> </td>
        <td th:text="${item.correctPrice}"></td>
        <td th:text="${item.quantity * item.correctPrice}"></td>
        <td><a href="#" th:href="'/cart/del?id=' + ${item.product.id}"> Удалить </a> </td>
    </tr>
    </tbody>
</table>

<div th:if="${#httpServletRequest.remoteUser != Null}">
    <form th:action="@{/cart/save}" th:object="${orderItems}" method="post">
        <input type="submit" value="Оформить заказ" class="btn btn-outline-success my-2 my-sm-0"/>
    </form>
</div>

<div th:insert="~{fragments/header :: footer}"> </div>
</body>
</html>