<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>New User</title>
</head>
<body>
    <form action="#" th:action="@{/order/newItem}" th:object="${orderItem}" method="post">
        <!--<input type="text" name="clientName" placeholder="client name"/>-->
        <input type="text" name="product.name" placeholder="product name"/>
        <input type="text" name="product.color" placeholder="product color"/>
        <input type="number" name="correctPrice" placeholder="correctPrice"/>
        <input type="number" name="quantity" placeholder="quantity" />
        <button type="submit">Save</button>
    </form>
</body>
</html>


