<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="~{fragments/header :: head}"/>

<body>
<div th:insert="~{fragments/header :: navbar}"> </div>
<h1>Change product</h1>

<form action="#" th:action="@{/admin/product/change}" th:object="${product}" method="post">
    <input type="hidden" name="id" value="#" th:value="${product.id}"/>
    <input type="text" name="name" value="#" th:value="${product.name}"/>
    <input type="text" name="color" value="#" th:value="${product.color}"/>
    <input type="number" name="price" value="#" th:value="${product.price}"/>
    <button  type="submit">Save changes</button>
</form>

<div th:insert="~{fragments/header :: footer}"> </div>
</body>
</html>


