<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="~{fragments/header :: head}"/>

<body>
<div th:insert="~{fragments/header :: navbar}"> </div>
<h1>Registration</h1>
    <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
        <input type="text" name="login" placeholder="your login"/>
        <input type="text" name="email" placeholder="your e-mail"/>
        <input type="password" name="password" />
        <button type="submit">Save</button>
    </form>
<div th:insert="~{fragments/header :: footer}"> </div>
</body>
</html>


