<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="~{fragments/header :: head}"/>

<body>
<div th:insert="~{fragments/header :: navbar}"> </div>
<h1>User List</h1>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">№</th>
        <th scope="col">Логин</th>
        <th scope="col">Email</th>
        <th scope="col">Активный</th>
        <th scope="col">Дата регистрации</th>
        <th scope="col">Операция</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user,step : ${users}">
        <th scope="row">
            <input type="hidden" value="#" th:value="${user.id}"/>
            <span th:text="${step.count}"/>
        </th>
        <td th:text="${user.login}"></td>
        <td th:text="${user.email}"></td>
        <td><input type="checkbox" th:checked="${user.active}" disabled> </td>
        <td th:text="${user.thymeleafDate}"></td>
        <td><a href="user_del" th:href="'users/del?id=' + ${user.id}">Delete</a></td>
    </tr>
    </tbody>
</table>


<div th:insert="~{fragments/header :: footer}"> </div>
</body>
</html>