<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="~{fragments/header :: head}"/>

<body>
<div th:insert="~{fragments/header :: navbar}"> </div>
<h1>User List</h1>

<table>
    <tr th:each="user,step : ${users}">
        <td><input type="hidden" value="#" th:value="${user.id}"/></td>
        <td th:text="${step.count} + '. ' + ${user.login}"></td>
        <td th:text="${user.email}"></td>
        <!--<td><input type="checkbox" th:checked="${#bools.isTrue(${user.enabled})}" disabled> </td>-->
        <td th:text="${user.registred}"></td>
        <td><a href="user_del" th:href="'user_del?id=' + ${user.id}">Delete</a></td>
    </tr>
</table>
<div th:insert="~{fragments/header :: footer}"> </div>
</body>
</html>